<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <div class="home">
        <header>

            <div class="header-top-rigth"></div>
            <h3 class="pagina-projetos"><a href="#pagina-projetos"></a>Projetos</h3>
            <!-- Em breve blog sobre programação e dicas para iniciantes, como estudar plataformas e etc. -->
            <h3 class="pagina-blog"><a href="#pagina-blog"></a>Blog</h3>
            <h3 class="pagina-contatos"><a href="#pagina-contato"></a>Contato</h3>
            <div class="header-center">
                <h1>Olá, eu sou a Suellen,<br>
                    Desenvolvedora de Software</h1>
                <p>Me encontrei na tecnologia e cada aprenzizado na programação me ajuda a ganhar mais experiência.
                    Na programação gosot de me sentir desafiada e quanto maior o desafio maior será meu empenho em
                    entregar a tarefa da melhor forma para o cliente!
                </p>
                <!-- validar se o position dessa classe ou outra propriedade continua atrapalhando de aparecer o texto do botão -->
                <button type="" class="btn-download">
                    Download Curriculo
                </button>
                <div class="img-curriculo">
                    <img src="../../assets/imagem-suellen.png" alt="">
                </div>
               </div> 
            </header>
            <div class="content-posts">
                <div class="recents-posts-top">
                    <p class="post-recents">Postagens Recentes</p>
                    <p class="view-all">Ver todos</p>
                </div>
            </div>
            <div class="content-projects">
                <p>Alguns projetos trabalhados</p>
            </div>
    
        <footer>
            <div>
                <small class="copyright">&copy; Copyright 2058, Example Corporation</small>
            </div>
        </footer>

    </div>
</body>

</html>